.iconfont-helper-selected {
  outline: 2px dashed #1890ff !important;
  background-color: rgba(24, 144, 255, 0.1) !important;
}

.iconfont-helper-checkbox {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 9999;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-cover {
  position: relative;
}
